<div class="container">
    <div class="row">
        <ul id="listaStock">
            <div class="col-md-3 mx-auto my-5" *ngFor="let sentiment of SentimentSelected">
                <div>
                    <ul>
                        {{sentiment.symbol}}
                        <br>
                        {{monthList[sentiment.month]}}
                        <br>
                        Change: {{sentiment.change}}
                        <br>
                        Change: {{sentiment.mspr}}
                        <br>
                    </ul>
                    <ul>
                        <div *ngIf="sentiment.mspr > 0; else elseBlock">
                            <p>&#11181;</p>
                        </div>
                        <ng-template #elseBlock>
                            <p>&#11183;</p>
                        </ng-template>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</div>

<button id="backBtn" type="button" (click)="goBack($event)">Go to social sentiment details ></button>