<div class="container">
    <div class="row">
        <h1>{{companyName}} ( {{symbol}} )</h1>
        <th *ngFor="let sentiment of SentimentSelected">
            <div class="container">
                <th>
                    {{monthList[sentiment.month]}}
                    <br>
                    Change: {{sentiment.change}}
                    <br>
                    Change: {{sentiment.mspr | number : '1.0-2'}}
                </th>
                <th>
                    <div *ngIf="sentiment.mspr > 0; else elseBlock">
                        <p class="green-arrow">&#11181;</p>
                    </div>
                    <ng-template #elseBlock>
                        <p class="red-arrow">&#11183;</p>
                    </ng-template>
                </th>
            </div>
        </th>
    </div>
</div>

<button id="backBtn" type="button" (click)="goBack($event)">Go to social sentiment details ></button>